<hero style="padding:20px;background-color:#f2f7f6;">
    <p>Hey !<br>How you doin..</p>
    <p>A password reset was requested for your account, just click on the button below to
        reset your password. </p>
    <br>
    <div align="center" style="width:50%;height:50%;-webkit-border-radius: 5px;
    -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; 
    display: block-inline; background-color:#e84004;">
            <a href={{accessLink}} style="font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">
                <span style="color: #FFFFFF">Reset My Password</span>
            </a>
    </div>
    <br>
    <p>If the above link doesn't work, visit the following URL in your web browser.<p>
    {{accessLink}}
    <p>If this wasn't you, Don't worry. Someone probably misspelt their own email.</p>
</hero>