<hero style="padding:20px;background-color:#f2f7f6;">
        <p>Heyy !! Welcome to {{siteName}},<br>We are happy you are here</p>
        <p>Your registration is almost complete, just click on the button below to verify your email. </p>
        <br>
        <div align="center" style="width:50%;height:50%;-webkit-border-radius: 5px;
        -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; 
        display: block-inline; background-color:#e84004;">
                <a href={{accessLink}} style="font-size:16px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">
                    <span style="color: #FFFFFF">Confirm Registration</span>
                </a>
        </div>
        <br>
        <p>If the above link doesn't work, visit the following URL in your web browser.<p>
        {{accessLink}}
    </hero>